* {
    box-sizing: border-box;
    /* content-box, border-box just for the content or border not for the entire box!!! */
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 700px;
    /* width and hight: this we can use with % or with px */
    height: 528px;
    padding: 10px;
    /* border: 5px black solid;
    margin: 10px; */
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 49px);
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    /* setting up in one line: */
    display: inline-block;
}

/* h1 {
    font-family: sans-serif;
} */

/* selectors:
elements: h1 {

}
classes:
.blog-spot {

}
universal:
* {

}
IDs:
#main-title {

}
attributes:
[disabld] {

} */

/* properties like: background-color, widht, color, display...
values like: red, 30%, #fa923f, 10px, block... */

/* combinators:

adjacent sibling:
div + p {

}
just follow thw p-s which are after immediately div and all element should be on the same level
general sibling:
div ~ p {

}
just the div elements needs to be in the same level and after for all p apply
child:
div > p {

}
all <p> elements that are immediate children of a <div> element
descendant:
div p {

}
all <p> elements inside <div> elements

Margin collapsing:when 2 element margin collapsing and the bigger margin win
Shorthand property: border: 2px dashed orange - border-widht, border-style, border-color
margin: 10px- all top right bottom left all same
margin: 5px 10 px-top bottom, left right
margin: 5px 10px 5px 10px-top right bottom left
Display:block-visible, none-not visible

*/