body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

/* selectors:
elements: h1 {

}
classes:
.blog-spot {

}
universal:
* {

}
IDs:
#main-title {

}
attributes:
[disabld] {

} */

/* combinators:

adjacent sibling:
div + p {

}
just follow thw p-s which are after just h2 and all element should be on the same level
general sibling:
div ~ p {

}
just the h2 elements needs to be in the same level and after for all p apply
child:
div > p {

}
applies if just the direct child for an element like for <div> 
descendant:
div p {

}
applies for all p elemnet does not matter it is direct child or not
*/